<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel=stylesheet type="text/css" href="EstiloListadoClientes.css">
		<title>ListadoDeClientes</title>
	</head>
	<body>
		<header>
			<h1>Tienda Genérica</h1>
		</header>
			<nav>
				<div id="menu">
					<ul>
						<li id="item"><a href="Usuarios.html">Usuarios</a></li>
						<li id="item"><a href="Clientes.html">Clientes</a></li>
						<li id="item"><a href="Proveedores.html">Proveedores</a></li>
						<li id="item"><a href="Productos.html">Productos</a></li>
						<li id="item"><a href="Ventas.html">Ventas</a></li>
						<li id="item"><a href="Reportes.html">Reportes</a></li>
						<li id="item"><a href="Login.html">Salir</a></li>
					</ul>
				</div>
			</nav>
			<div class="clearfix"></div>
			<div id="container">
				<section id="content">
					<form>
						<div>
							<h2>Listado de Clientes</h2>
							<table>
								<tr>
									<th>Cédula</th>
									<th>Nombre</th>
									<th>Correo Eletrónico</th>
									<th>Dirección</th>
									<th>Teléfono</th>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
					</form>
				</section>
			</div>
	</body>
</html>