<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel=stylesheet type="text/css" href="../static/css/EstiloLogin.css">
		<title>Login</title>
	</head>
	<body>
		<header>
			<h1>Bienvenidos a la Tienda Genérica</h1>
		</header>
			<div class="clearfix"></div>
			<div id="container">
				<section id="content">
					<!-- Formulario captura de datos -->
					<form>
						<div class="field">
							<label>Usuario</label>
							<input id="us" name="usuario" type="name" autocomplete />
						</div>
						<div class="field">
							<label>Contraseña</label>
							<input name="contraseña" type="password" autocomplete />
						</div>
						<div class="submit">
							<button>Aceptar</button>
							<button id="cancel">Cancelar</button>
						</div>
					</form>
				</section>
			</div>
	</body>
</html>